.profile {

    background: linear-gradient(
      rgba(00, 00, 00, 0.5),
      rgba(00, 00, 00, 0.5), 
      rgba(00, 00, 00, 0.5), 
      rgba(255, 255, 255, 0.7)
    ), url(../Fotos/ponte.jpg); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    padding-bottom: 5%;
    padding-top: 10%;
}

.no-margin {
    margin: 0px;
}

.no-padding {
    padding: 0px;
}

.parallax-container {
    height: 200px;
}

.parallax img {
  display: none;
  position: absolute;
  left: 50%;
  bottom: 0;
  min-width: 100%;
  min-height: 50%;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.white-text {
    color: white;
}

.bring-up {
    z-index: 100;
}

.adobe-yellow {
    background-color: #FFA424 !important;
}

.adobe-dark-yellow {
    background-color: #B26C07 !important;
}

.adobe-light-yellow {
    background-color: #FFBB5B !important;
}

.adobe-blue {
    background-color: #006DB2 !important;
}

.adobe-light-blue {
    background-color: #24A9FF !important;
}

.navy-blue {
    background-color: #18121E !important;
}

.gunmetal {
    background-color: #233237 !important;
}

.rusty-red {
    background-color: #984B43 !important;
}

.warm-yellow {
    background-color: #EAC67A !important;
}

.bottom-margin-40 {
    margin-bottom: 40px;
}

.margin-40 {
    margin-top: 40px;
}

#owl-demo .item{
  background: #3fbf79;
  padding: 30px 0px;
  margin: 10px;
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
}
.customNavigation{
  text-align: center;
}
//use styles below to disable ugly selection
.customNavigation a{
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}